.secret-screen{

    min-height:100vh;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    padding:20px;
    }
    
    .secret-card{
    
    width:min(92vw,520px);
    
    padding:45px;
    
    border-radius:32px;
    
    background:rgba(255,255,255,.06);
    
    backdrop-filter:blur(20px);
    
    border:1px solid rgba(255,255,255,.08);
    
    text-align:center;
    
    box-shadow:
    0 20px 70px rgba(0,0,0,.35);
    
    }
    
    .secret-card h2{
    
    font-size:2.3rem;
    
    font-family:"Cormorant Garamond",serif;
    
    color:white;
    
    margin-top:20px;
    
    }
    
    .secret-card p{
    
    margin-top:10px;
    
    color:#CFCFD6;
    
    }
    
    .secret-input{
    
    width:100%;
    
    margin-top:30px;
    
    padding:15px;
    
    border-radius:16px;
    
    border:none;
    
    outline:none;
    
    background:rgba(255,255,255,.06);
    
    color:white;
    
    font-size:16px;
    
    }
    
    .secret-input:focus{
    
    box-shadow:0 0 20px rgba(255,93,175,.35);
    
    }
    
    .secret-btn{
    
    width:100%;
    
    margin-top:25px;
    
    padding:15px;
    
    border:none;
    
    cursor:pointer;
    
    border-radius:16px;
    
    font-size:16px;
    
    font-weight:600;
    
    background:linear-gradient(
    90deg,
    #FF5DAF,
    #7C6CFF);
    
    color:white;
    
    transition:.35s;
    
    }
    
    .secret-btn:hover{
    
    transform:translateY(-3px);
    
    box-shadow:
    0 20px 40px rgba(255,93,175,.25);
    
    }
    
    .error-message{
    
    margin-top:20px;
    
    color:#FFD1E8;
    
    line-height:1.7;
    
    }
    
    .unlock-screen{
    
    position:absolute;
    
    inset:0;
    
    display:flex;
    
    flex-direction:column;
    
    justify-content:center;
    
    align-items:center;
    
    background:rgba(0,0,0,.45);
    
    backdrop-filter:blur(12px);
    
    }
    
    .unlock-screen h1{
    
    font-size:90px;
    
    }
    
    .unlock-screen h2{
    
    margin-top:25px;
    
    font-family:"Cormorant Garamond",serif;
    
    font-size:2rem;
    
    color:white;
    
    letter-spacing:2px;
    
    }